# Ignore folders starting with "Results" or "junk"
Results*/
junk*/

# Ignore Python bytecode and Jupyter autosaves
*.pyc
__pycache__/
.ipynb_checkpoints/

# Ignore PyCharm project settings
.idea/

# Ignore virtual environments
.venv/
env/
venv/

dias_dr3_0.5.csv
